<div class="panel panel-default">
	<div class="panel-heading"><h3><strong>List Plant Hire Requests</strong></h3></div>
	<div class="panel-body">
		<a type="button" class="btn btn-info" href="#/phr/create">
		<strong>Create a Plant Hire Request</strong>
	</a>
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
                    <th>Plant</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Price</th>
                    <th>PHR Status</th>
                    <th>PO Status</th>
                    <th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="phrqst in phrs">
					<td>
						{{phrqst.plant.name}}
  						<button type="button" class="btn btn-warning btn-xs" data-toggle="modal" data-target=".bs-example-modal-lg"><strong><font color="black">Inspect Plant</font></strong></button>
						<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby={{phrqst.plant.name}} aria-hidden="true">
						  <div class="modal-dialog modal-lg">
						    <div class="modal-content">
						    <div class="modal-header">
						    <button type="button" class="close" data-dismiss="modal">&times;</button>
						    <h4><strong>Plant</strong></h4>
						    </div>
						    
						    <div class="modal-body">		    
				
						      <table class="table table-bordered table-striped">
								<thead>
									<tr>
										<th>Name</th>
										<th>Description</th>
										<th>Price</th>
										</tr>
								</thead>
								<tbody>
									<tr>
										<td>{{phrqst.plant.name}}</td>
										<td>{{phrqst.plant.description}}</td>
										<td>{{phrqst.plant.price}}</td>
									</tr>
								</tbody>
							</table>
							</div>							     
						    </div>
						  </div>
						</div>
  					</td>
					<td>{{phrqst.startDate}}</td>
					<td>{{phrqst.endDate}}</td>
					<td>{{phrqst.price}}</td>
					<td>{{phrqst.status}}</td>
					<td>{{phrqst.postatus}}</td>
					<td>
                        <button class="btn btn-default btn-xs" ng-repeat="link in phrqst._links"
                            ng-class="{'btn-success':link.rel=='acceptPHR','btn-danger':link.rel=='rejectPHR','btn-primary':link.rel=='updatePHR'}"
                            ng-click="follow(link)">
				         <strong>{{link.rel}}</strong>
				         </button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
