<div class="panel panel-default">
	<div class="panel-heading"><h3><strong>Create Plant</strong></h3></div>
	<div class="panel-body">
	
		<form class="form-horizontal" >
	  		<div class="form-group">
	  			<label for="name" class="col-sm-2 control-label">Name</label>
				<input type="text" ng-model="name"></input>
	  		</div>
			<div class="form-group">
	  			<label for="description" class="col-sm-2 control-label">Description</label>
				<input type="text" ng-model="description"></input>
	  		</div>
	  		<div class="form-group">
	  			<label for="price" class="col-sm-2 control-label">Price</label>
				<input type="text" ng-model="price"></input>
	  		</div>
	 		<button class="btn btn-info" ng-click="createPlant()">
				<strong>Create Plant</strong>
			</button>
		</form>
		<p/>
 		
	</div>
</div>
